/*
    Cascading StyleSheet
    Estilo em cascata

*/
body {
    margin:0;
    padding:0;
    color:#25282B;
    text-align:center;
    background-color:#E5E5E5;
}
button {
    border:none;
    color:#FF5E84;
    font-weight:bold;
    background-color:none;
}
.fat {
    color:#FFF;
    background-color:#FF5E84;
}
p {
    font-size:18px;
}
.hide {
    display:none;
}